/* navbar*/
#navBar {
	background-image: linear-gradient(to right, #42e5f4, #ff8efd);
}

.navbar-brand {
	font-size: 1.5rem;
}

.nav-item {
	font-size: 1.25rem;
}

/* fix navbar overlapping content in spy-scroll*/
#about::before,
#project::before,
#contact::before {
  	display: block;
  	content: '';
  	margin-top: -3.5rem;
  	height: 3.5rem;
  	visibility: hidden;
}

/* content */
*{
  	scroll-behavior: smooth;
  	font-family: 'Lato';
}

body {
  	padding-top: 3.5rem;
}

a {
  	color: inherit;
  	text-decoration: inherit;
}

a:hover {
  	color: inherit;
  	text-decoration: inherit;
}

hr {
	width: 30rem;
}

.container {
	padding: 3.5rem 0rem 3.5rem 0rem;
}

.title {
	margin-bottom: 3rem;
}

#contact-title {
	margin-bottom: 5rem;
}

.jumbotron {
	background:rgba(66, 229, 244, 0.1);
}

.card {
	border-radius: 0px;
}

/* effects/animations */
.button-link {
	color: #42e5f4;
	transition: .2s ease;
}

.button-link:hover {
	color: #ff8efd;
	transition: .2s ease;
}

.card:after {
    content: '';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(66, 229, 244, 0.35);
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
}

.card:hover:after {
    opacity: 1;
}

.card {
	transition: .3s ease;
}

.card:hover {
	opacity: 0.5;
	transition: .3s ease;
}
